<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSProfileName" value="VisualStudio"/>
    <add key="AWSRegion" value="eu-west-2" />
    <add key="AccessKey" value="AKIA23MZ76KGLIFRI75U" />
    <add key="SecretKey" value="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" />
  </appSettings>
</configuration>